:root {
  --texto: 'Montserrat';
}

body {
  background-color: rgb(206, 255, 196);
}

#title {
  text-align: center;
  font-family: var(--texto), sans-serif;
  text-align: center;
  font-family: 'Montserrat-classic', sans-serif;
  font-size: 55px;
  background-color: rgb(220, 255, 208);
  color: rgb(15, 88, 136);
  padding: 70px;
}

#color-palette {
  height: 40%;
  display: flex;
  text-align: center;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
}

.color {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: rgb(252, 240, 240);
}

#pixel-board {
  height: 40%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.pixel {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: white;
}

#clear-board {
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
  background-color: rgb(242, 219, 255);
  margin-left: 46%;
  padding: 1em;
  
}

#board-size {
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
  background-color: rgb(242, 219, 255);
  margin-left: 46%;
  padding: 1em;

}


